<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-12 mt-5">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path("admin") }}" class="btn btn-default">Home</a>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path("dashboard") }}" class="btn btn-default">Dashboard</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path("reports") }}" class="btn btn-default">Relatórios</a>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path("logout") }}" class="btn btn-default">Sair</a>
                    {% endif %}
                    
              </div>
              
          </div>
          <div class="row">
              <div class="col-md-12">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <h3 class="mt-3">Olá {{ app.user.username}}</h3>
                    {% endif %}
                    
                    {% block body %}{% endblock %}
              </div>
          </div>
      </div>
  </body>
</html>
